.user-info-wrap {
  padding-top:15px;
}

.date { font-size:10px; }

.form-control {
    margin-bottom:8px;
}

.basic-info-bar {
    margin-top:-20px;
    background-color:#999;
    min-height:50px;
    padding:8px;
    margin-bottom:10px;
}

.basic-info-bar div {
    float:left;
    color:white;
    margin-right:10px;
}

.user-info-wrap {
    padding-top:11px;
}

.user-info-wrap .user-info {
    float:left;
    margin-top:-5px;

}

.user-identity { margin-top:5px; font-weight:bold;}

.simulator-panel h1 { font-size: 40px; }

#hub .menu-tile {
  width:100px;
  height:100px;
  text-align: center;
  background: #fff;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  float:left;
  margin-right:7px;
  margin-bottom:7px;
  cursor:pointer;
}

#hub .menu-tile-icon {
  color:#666;
  font-size:40px;
  margin-top:26px;
}

#hub .menu-tile-caption {
  font-size:12px;
  line-height:1.0;
}

#sign_in .tab-panel {
  background:rgb(42, 159, 214);
  padding:10px;
  margin-top:-5px;
}

#sign_in .login-button {
  margin-top:8px;
}

#run-script-panel .tab-panel {
    background:rgb(42, 159, 214);
    padding:10px;
    margin-top:-5px;
}


#run-script-panel textarea {
    min-height:200px;
}

#run-script-panel .form-control {
    margin-bottom:8px;
}

#run-script-panel .legend {
    color:white;
    font-size:10px;
}

#play-game textarea.result {
    min-height:200px;
}

textarea {
    min-height:200px;
}