<div class="simulator-panel" ng-show="navigation.isSelected('inventory')">
  <button class="btn btn-success pull-right" ng-click="refreshInventory()">Refresh</button>
  <h1>Inventory</h1>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>key</th>
      <th>item_id</th>
      <th>type</th>
      <th>param</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in inventory_items">
      <td>{{ item._key }}</td>
      <td>{{ item.id }}</td>
      <td>{{ item.type }}</td>
      <td>{{ item.param }}</td>
    </tr>
    </tbody>
  </table>
</div>